
.styles{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: burlywood;
}

.div{
    font-weight: 500;
    background-color: rgb(31, 112, 112);
    border: 2px solid rgb(132, 90, 90);
    border-radius: 100px;
    padding: 20px;
}